<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Gestão de Estoque</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <style>
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url("{{ url_for('static', filename='assets/img/fundo_login_register.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }
    </style>
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    {% block scripts %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        var iconType = '{{ category }}';
                        if (iconType === 'danger') {
                            iconType = 'error';
                        }
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: iconType,
                            title: '{{ message }}',
                            showConfirmButton: false,
                            timer: 4000,
                            timerProgressBar: true,
                            background: '#333', // Fundo escuro para combinar com o tema
                            color: '#fff'       // Texto branco
                        });
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}
    {% endblock %}

</body>
</html>