{% extends "auth/auth_base.html" %}

{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="login-wrapper">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        <h2>Login</h2>

        <div class="input-field">
            {{ form.email(required=True, placeholder=" ") }}
            {{ form.email.label(text="Email") }}
        </div>
        {% if form.email.errors %}
            <div class="invalid-feedback" style="color: #ffd1d1; text-align: left; font-size: 0.8em; margin-top: -10px; margin-bottom: 10px;">
                {% for error in form.email.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% endif %}

        <div class="input-field">
            {{ form.password(required=True, placeholder=" ") }}
            {{ form.password.label(text="Senha") }}
        </div>
        {% if form.password.errors %}
            <div class="invalid-feedback" style="color: #ffd1d1; text-align: left; font-size: 0.8em; margin-top: -10px; margin-bottom: 10px;">
                {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% endif %}

        <div class="password-options">
            <label for="{{ form.remember.id }}">
                {{ form.remember() }}
                <p>Lembrar-me</p>
            </label>
            <a href="{{ url_for('auth.request_reset') }}">Esqueceu sua senha?</a>
        </div>

        <button type="submit">Entrar</button>

        <div class="account-options">
            <p>Não tem uma conta? <a href="{{ url_for('auth.register') }}">Registre-se</a></p>
        </div>
    </form>
</div>
{% endblock %}