{% extends "auth/auth_base.html" %}

{% block title %}Cadastrar Nova Senha{% endblock %}

{% block content %}
<div class="login-wrapper">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <h2>Cadastre sua Nova Senha</h2>

        <div class="input-field">
            {{ form.password(required=True, placeholder=" ") }}
            {{ form.password.label(text="Nova Senha") }}
        </div>
        {% if form.password.errors %}
            <div class="invalid-feedback" style="color: #ffd1d1; text-align: left; font-size: 0.8em; margin-top: -10px; margin-bottom: 10px;">
                {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% endif %}

        <div class="input-field">
            {{ form.confirm_password(required=True, placeholder=" ") }}
            {{ form.confirm_password.label(text="Confirmar Nova Senha") }}
        </div>
        {% if form.confirm_password.errors %}
            <div class="invalid-feedback" style="color: #ffd1d1; text-align: left; font-size: 0.8em; margin-top: -10px; margin-bottom: 10px;">
                {% for error in form.confirm_password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% endif %}

        <button type="submit">Redefinir Senha</button>
    </form>
</div>
{% endblock %}